*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1{
    font-family: Lato, sans-serif;
    font-size: 70px;
}

p, a, li, label, button, h2, h3,h4,h5{
    font-family: Lato, sans-serif;
}

section.section-img{
    background: url(../imagens/banner.png);
    box-sizing: border-box;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 100px 100px;
}

section.section-img p{
    font-size: 34px;
    margin-top: 20px;
    max-width: 800px;
}

section.section-form{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container-form{
    width: 70vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 30px ;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

form{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

form h2{
    width: 60%;
}

div.campo-medio{
    width: 47%;
    display: flex;
    flex-direction: column;
}

form label{
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 8px;
}

form input{
    border: 1px solid #F28B0C;
    border-radius: 10px;
    width: 90%;
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
}

form input:focus{
    outline: 0;
    border: 1px solid #F28B0C;
}

form input:nth-child(6){
    height: 100px;
}

form button{
    background-color: #F28B0C;
    border-radius: 10px;
    width: 90%;
    height: 40px;
    margin-top: 40px;
    border: 1px solid black;
    font-size: 20px;
    color: white;
}

span.line-h{
    width: 2px;
    height: 400px;
    background-color: black;
    border-radius: 10px;
    margin: 0px 50px 0px 0px;
}

div.container-info{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 40%;
    height: 400px;
}

div.item-contato{
    display: flex;
    margin-top: 10px;
    align-items: center;
}

div.item-contato img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

@media screen and (max-width: 800px){

    section.section-form{
        height: auto;
        padding: 50px 0px;
    }
    div.container-form{
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
    }

    span.line-h{
        width: 60vw;
        height: 2px;
        margin: 20px 0px;
    }

    div.container-info{
        width: 80%;
    }
    
    form{
        width: 80%;
    }
}

/*Sobre*/
section.section-img-sobre{
    background: url(../imagens/BannerSobre.png);
    box-sizing: border-box;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 100px 100px;
}

section.section-img-sobre p{
    font-size: 34px;
    margin-top: 20px;
    max-width: 800px;
}

section.section-sobre{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

article.article-sobre{
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.texto h2{
    font-size: 48px;
}

div.imagem img{
    width: 100%;
}

section.section-devs{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 0 20px 0;
}

div.faixa-devs{
    width: 100vw;
    height: 80px;
    background-color: #FF9C07;
    color: black;
    display: flex;
    align-items: center;
}

.faixa-devs h2{
    font-size: calc(1em + 2vw);
    margin-left: calc(50px + 1vw);
}

.section-devs h3{
    font-size: 40px;
}

div.container-devs{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 50px 0px;
}

div.card-devs{
    width: 35%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.card-devs img{
    object-fit: cover;
    width: 160px;
    height: 160px;
}

.card-devs h3{
    font-size: calc(1em + 1vw );
    text-align: center;
}

img.perfil{
    border-radius: 100%;
}